//grid
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 7rem; // this was originally set to 6rem or 60pixels.
$gutter-width: 0.1rem;
//colors
$color-primary: #55c57a;
$color-primary-light: #85d877;
$color-primary-dark: #28b485;
$color-gray-dark: #777;
$color-white: #f5f1f1;
$color-black: #000000;
$color-gray-light: #e4e0e0;
$color-naranja: orangered;
$color-gray-light-1: #f7f7f7;
$color-secondary-light: #ffb900;
$color-secondary-light1: #ff7730;
$color-tercero-light: #3297f5;
$color-tercero-light1: #5643fa;
