<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <!-- meta tags for the site -->
<meta name="title" content="pragmatic design web-development marketing google analytics e-commerce ">
<meta name="description" content="web-development;design">
<meta name="keywords" content="webdev, pragmatic-design, seo,google-analitycs, marketing">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">

    <!-- end of the meta tags for the site  -->
    <link rel="stylesheet" href="/css/icon-font.css">
    <!-- <link rel="stylesheet" href="css/icon-font.css" /> -->
    <link rel="stylesheet" href="/css/mystyle.css" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />

    <title>Pragma PDX | A Pragmatic Approach To WebDev</title>
  </head>
  <body>
    <header class="header">
      <!-- <div class="header__logo-box">
        this is the logo that i might use or might not with different pic
        <img
          src="/img/raw.png" height="340" width="120" 
          alt="adventurous logo, page crown"
          class="header__logo"
        />
      </div> -->
      <div class="header__text-box">
        <h1 class="heading-primary">
          <span class="heading-primary--main">discover</span>
          <span class="heading-primary--sub">What is possible</span>
        </h1>
        <a href="https://bmercado17.github.io/contactMe/" class="btn btn--white btn--animated">What We Offer</a>
      </div>
    </header>

  <!-- main information container of the site   /////////////////////// -->
    <main>
      <section class="section-about">
        <div class="u-center-text u-margin-bottom-big">
          <h2 class="heading-secondary">Schedule A Call | meeting</h2>
        </div>
        <div class="row">
          <div class="col-1-of-2">
            <h3 class="heading-tercera u-margin-bottom-small">
              You're going to love what we do.
            </h3>
            <p class="paragraph">
             With focus on personal customization and modern layouts specific to your business needs. We offer SEO, Google Analytics, and Email Campaigning, 
             allowing your business front line attention for future clients.
            </p>
            <h3 class="heading-tercera u-margin-bottom-small">
              we can help your business, attrack online traffic
            </h3>
            <p class="paragraph">
             With focus on personal customization and modern layouts specific to your business needs. We offer SEO, Google Analytics, and Email Campaigning, 
             allowing your business front line attention for future clients.
            </p>
            <a
              href="https://bmercado17.github.io/contactMe/"
              class="btn-text"
              >Dive In &rarr;</a
            >
          </div>
          <!-- this is the section with the pictures and the pop up frame effect on the pix -->
          <div class="col-1-of-2">
            <div class="composition">
              <img
                src="/img/exampleProject1.png"
                alt="photo1"
                class="composition__photo composition__photo--p1"
              />
              <img
                src="/img/exampleProject2.png"
                alt="photo2"
                class="composition__photo composition__photo--p2"
              />
              <img
                src="/img/exampleProject3.jpg"
                alt="photo3"
                class="composition__photo composition__photo--p3"
              />
            </div>
          </div>
        <!-- this is the section with the four cards -->
      </section>
     
     
     
      <section class="section-features">
        <div class="row">

          <div class="col-1-of-4">
             <div class="feature-box">
              <i class="feature-box__icon icon-basic-world"></i>
              <h3 class="heading-tercera u-margin-bottom-small">Explore The Options</h3>
              <p class="feature-box__text">We approach each project we biuld with online market in mind</p>
              </div>
           </div>
           <div class="col-1-of-4">
            <div class="feature-box">
             <i class="feature-box__icon icon-basic-compass"></i>
             <h3 class="heading-tercera u-margin-bottom-small">Look What We Offer</h3>
             <p class="feature-box__text">Not every business is the same, so we create and biuld according to your needs</p>
             </div>
          </div>
          <div class="col-1-of-4">
            <div class="feature-box">
             <i class="feature-box__icon icon-basic-map"></i>
             <h3 class="heading-tercera u-margin-bottom-small">We are local</h3>
             <p class="feature-box__text">We take our time to understand the targetted clientele.</p>
             </div>
          </div>
          <div class="col-1-of-4">
            <div class="feature-box">
             <i class="feature-box__icon icon-basic-heart"></i>
             <h3 class="heading-tercera u-margin-bottom-small">Peek On What We Offer</h3>
             <p class="feature-box__text">We offer a variety of different WebDev services.
               </p>
             </div>
          </div>
        </div>
        </section>


        <!-- /////////////section tours ///third part of the site//////////////-->
         <section class="section-tours">
          <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">Schedule A meeting</h2>
          </div>

          <div class="row">
            <div class="col-1-of-3">
              <div class="card">
              <div class="card__side card__side--front">
                <div class="card__picture card__picture--1">
                  &nbsp;
                </div>
                <!-- Card heading inside the picture -->
                <h4 class="card__heading">
                  <span class=card__heading-span card__heading-span--1>First Option</span>
                </h4>
                
                <!-- Card details to the front of the card -->
                <div class="card__details">
                  <ul>
                    <li>Easy to Navigate</li>
                    <li>Simple Design</li>
                    <li>Responsive</li>
                    <li>Modern Layout</li> 
                  </ul>
                </div>
              </div>
                <!-- code below for the backside of the card -->
              <div class="card__side card__side--back card__side--back-1">
              <div class="card__cta">
                <div class="card__price-box">
                  <!-- <p class="card__price-only">Only</p> -->
                  <p class="card__price-value">Contact Us</p>
                 </div>
                 <a href="https://mailchi.mp/6f34f974d628/startup1" class="btn btn--white ml-1">Schedule a Call Today</a>
               </div>
               </div> 
              </div>
          </div>
          <!-- ///////////////////////////this is for the second card/////////////////////////////// -->
            <div class="col-1-of-3">
              <div class="card">
                <div class="card__side card__side--front">
                  <div class="card__picture card__picture--2">
                    &nbsp;
                  </div>
                  <!-- Card heading inside the picture -->
                  <h4 class="card__heading">
                    <span class=card__heading-span card__heading-span--1>Second Option</span>
                  </h4>
                  
                  <!-- Card details to the front of the card -->
                  <div class="card__details">
                    <ul>
                      <li>All Plat Compatibility</li>
                      <li>Mobile Accessibility</li>
                      <li>Modern Layout</li>
                      <li>SEO Key Wording</li>
                      
                    </ul>
                  </div>
                </div>
                  <!-- code below for the backside of the card -->
                <div class="card__side card__side--back card__side--back-2">
                <div class="card__cta">
                  <div class="card__price-box">
                    
                    <p class="card__price-value">Contact Us</p>
                   </div>
                   <a href="https://mailchi.mp/6f34f974d628/startup1" class="btn btn--white">Schedule a Call Today</a>
                 </div>
                 </div> 
                </div>
            </div>

            <!-- //////////////////////this is for the third card //////////////////// -->
            <div class="col-1-of-3"> 
              <div class="card">
                <div class="card__side card__side--front">
                  <div class="card__picture card__picture--3">
                    &nbsp;
                  </div>
                  <!-- Card heading inside the picture -->
                  <h4 class="card__heading">
                    <span style="color:rgb(124, 124, 156)" class=card__heading-span card__heading-span--1>Third Option</span>
                  </h4>
                  
                  <!-- Card details to the front of the card -->
                  <div class="card__details">
                    <ul>
                      <li>Trending Layouts</li>
                      <li>Mobile First</li>
                      <li>SEO Rendering</li>
                      <li>Google Analitycs</li>
                      <li>Email Campaing</li>
                    </ul>
                  </div>
                </div>
                  <!-- code below for the backside of the card -->
                <div class="card__side card__side--back card__side--back-3">
                <div class="card__cta">
                  <div class="card__price-box">
                    <p class="card__price-value">Contact US</p>
                    <!-- <p class="card__price-value">$150</p> -->
                   </div>
                   <a href="https://mailchi.mp/6f34f974d628/startup1" class="btn btn--white">Schedule a call today</a>
                 </div>
                 </div> 
                </div>
            </div>
          </div>
          <!-- //////this is the button after the row, after the three cta cards///// -->

          <div class="u-center-text u-margin-top-big">
           <a href="https://www.zoom.us/signin" class="btn btn--green">Video Conference Call</a>
          </div>
         </section>
         <!-- ///////////Story customer testimonie part of the project//////////// -->
         <section class="section-stories ">
          <!-- ////this is where the video background would be coded/// -->
           <!-- <div class="bg-video">
             <video class="bg-video__content" autoplay muted loop>
              <source src="/img/video.mp4" type="video/mp4">
                <source src="img/video.webm" type="video/webm">
                  Your browser is not supported
             </video>
           </div> -->
          <div class="u-center-text u-margin-bottom-medium">
            <h2 class="heading-secondary">We Will biuld it for you</h2>
          </div>
          <!-- ////section for the testimony row and nested classe//// -->
          <div class="row">
            <div class="story">
              <figure class="story__shape">
                <img src="/img/secondComment.jpg" alt="person floating on the river/ in the tour" class="story__img">
                <figcaption class="story__caption">Jennifer</figcaption>
              </figure>
              <div class="story__text">
                <h3 class="heading-tercera u-margin-bottom-small">I had the best experience here</h3>
                <p>I wanted to create a business website that spoke to a targeted group of clients, but offered a simple, user friendly design that was easy navigate. I was referred to Pragma PDX and was pleased at how well the exchange of ideas and collaboration took place. 
                  The end product was beyond my expectations!
                </p>
              </div>
            </div>
          </div>

          <!-- //////this for the second testimony box/////// -->
          <div class="row">
            <div class="story">
              <figure class="story__shape">
                <img src="/img/firstComment.jpg" alt="person floating on the river/ in the tour" class="story__img">
                <figcaption class="story__caption">Zack</figcaption>
              </figure>
              <div class="story__text">
                <h3 class="heading-tercera u-margin-bottom-small">Well designed layout</h3>
                <p>Having a little background in WebDev, I was able to create a simple website on my own using WordPress. The site was functional but needed some tweaking on the landing page layout to bring it all together.
                   Pragma PDX was quick to resolve this and helped me add SEO and some additional features to bring the website to life with 
                   great communication throughout the process.
              </div>
            </div>
          </div>
          <div class="u-center-text u-margin-top-big">
            <a href="https://mailchi.mp/6f34f974d628/startup1" class="btn btn-text-2">Tell us how we can help</a>
           </div>
         </section>

         <!-- ///////this is the big card radio button leave information section FORM///// -->

         <section class="section-book">
          <div class="row">
          <div class="book">
            <div class="book__form">
              <div class="u-margin-bottom-medium">
                <h2 class="heading-cuarta">Contact Us</h2>
              </div>

              <!-- // FORM this is where we start grabbing the information FORM -->
              <form method="post" class="form" action="/">
                <div class="form__group">
                  <input name="title" type="text" class="form__input" placeholder="Full Name" id="name" required>
                  <label for="name" class="form__label">Full Name</label>
                </div>
                <div class="form__group u-margin-bottom-medium">
                  <input name="content" type="email" class="form__input" placeholder="Email" id="email" required>
                  <label for="email" class="form__label">Email </label>
                </div>
                <!-- ///////radio buttons section///// -->
                <div class="form__group ">
                  <div class="form__radio-group u-margin-bottom-small">
                    <input type="radio" class="form__radio-input" id="consult" name="webdev">
                    <label for="consult" class="form__radio-label"><span class="form__radio-button"></span>
                      Market Evaluation
                    </label>
                  </div>
                  <div class="form__radio-group">
                    <input type="radio" class="form__radio-input" id="development" name="webdev">
                    <label for="development" class="form__radio-label"><span class="form__radio-button"></span>
                      Web Development
                    </label>
                  </div>

                </div>
                <div class="form__group">
                  <button class="button btn-1 form-button">Find out More</button>
                </div>
              </form>
            </div>
           </div>
          </div>
         </section>
 </main>
 <!-- //////// this is where the footer code starts //////// -->
 <footer class="footer">
   <div class="footer__logo-box">
     <img src="/img/mobileFirst.jpg" alt="full logo" width="400" height="350" class="footer__logo">
   </div>
   <div class="row">
    <div class="col-1-of-2">
      <div class="footer__navigation">
        <ul class="footer__list">
          <li class="footer__item"><a href="https://bmercado17.github.io/contactMe/" class="footer__link">Our Office</a></li>
          <li class="footer__item"><a href="https://bmercado17.github.io/contactMe/" class="footer__link">About Us</a></li>
          <li class="footer__item"><a href="https://www.zoom.us/signin" class="footer__link">@BMercado</a></li>
        </ul>
      </div>
    </div>
    <div class="col-1-of-2">
      <p class="footer__copyright">
        Built by <a href="https://bmercado17.github.io/contactMe/" class="footer__link">Bmercado17</a> 
  
           Designed by: Jonas Schmedtmann
      </p>
    </div>
   </div>
 </footer>
     
    <!-- <section class="grid-test">
      <div class="row">
        <div class="col-1-of-2">col 1 of 2</div>
        <div class="col-1-of-2">col 1 of 2</div>
      </div>
      <div class="row">
        <div class="col-1-of-3">col 1 of 3</div>
        <div class="col-1-of-3">col 1 of 3</div>
        <div class="col-1-of-3">col 1 of 3</div>
      </div>
      <div class="row">
        <div class="col-1-of-3">col 1 of 3</div>
        <div class="col-2-of-3">col 2 of 3</div>
      </div>
      <div class="row">
        <div class="col-1-of-4">col 1 of 4</div>
        <div class="col-1-of-4">col 1 of 4</div>
        <div class="col-1-of-4">col 1 of 4</div>
        <div class="col-1-of-4">col 1 of 4</div>
      </div>
      <div class="row">
        <div class="col-1-of-4">col 1 of 4</div>
        <div class="col-1-of-4">col 1 of 4</div>
        <div class="col-2-of-4">col 2 of 4</div>
      </div>
      <div class="row">
        <div class="col-1-of-4">col 1 of 4</div>
        <div class="col-3-of-4">col 3 of 4</div>
      </div>
    </section>-->
    <!-- <script src="server.js"></script> -->
  </body>
</html>
