.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  }
  &--sub {
    display: block;
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
    animation-name: moveInRight;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    margin-bottom: 5rem;
    margin-left: -1rem;
  }
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: $color-gray-dark;
  padding: 2rem;
  box-sizing: border-box;
}
.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  background-image: linear-gradient(
    to left,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.3s;
  &:hover {
    transform: skewY(2deg) skewX(20deg);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.3);
  }
}
.heading-tercera {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
}
.paragraph {
  font-size: 1.2rem;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
.heading-cuarta {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  background-image: linear-gradient(to left, $color-gray-dark, $color-form);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.3s;
  &:hover {
    transform: skewY(2deg) skewX(20deg);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.3);
  }
}
