.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-gray-light, 0.4),
      rgba($color-light-orange, 0.3)
    ),
    url(/img/heroHeader.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &__logo {
    position: absolute;
    top: 4rem;
    left: 4rem;
    height: 3.5rem;
    border-radius: 30px;
  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform: translate code will center a div right in the center  */
    text-align: center;
  }
}
